/*
Colors: 
#E54E79; nav
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

*{
	font-family: ‘Raleway’, sans-serif;
	margin: 0;
	padding: 0;
}

/* navbar */

.navbar{
	background: #E54E79;
	width: 100%;
	height: 83px;
	padding-left: 200px;
	padding-right: 100px;
	box-sizing: border-box;
	overflow: auto;
	position: fixed;
	z-index: 2;
}

.logo{
	background: url("../img/logo-white.png");
	background-size: cover;
	width: 70px;
	height: 50px;
	margin: 16px;
	float: left;
}

/********* ARREGLAR PADDING ********/
.menu{
	box-sizing: border-box;
	width: 110px;
	height: 83px;
	padding-top: 30px;
	padding-left: 10px;
	color: white;
	float: right;
}

.menu:hover{
	background: #D61470;
	font-weight: bold;
	transition: 0.7s;
}


/* header */

/*imagen header*/
.imgdrive{
    background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*div formulario*/
.formreg{
	width: 500px;
	height: 398px;
	padding: 60px 40px;
	box-sizing: border-box;
	background: #EDE9E2;
	position: absolute;
	top: 200px;
	right: 0;
	z-index: 1;
}

/* títulos */
.title{
	font-size: 30px;
	font-weight: bold;
	color: #00B2A9;
	margin-bottom: 14px;
}

.subtitle{
	font-size: 15px;
	color: #75726C;
	margin-bottom: 14px;
}

/*input*/
.cellnumber{
	width: 90%;
	height: 25px;
	padding-left: 5px;
	background: #EDE9E2;
	box-shadow: 0 1px 0 0 #75726C;
	margin-bottom: 17px;
}

/*boton*/
.becomedriver{
	width: 210px;
	height: 45px;
	background: #E56385;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	margin-bottom: 17px;
}

.imgdrive .formreg .parraf{
	color: #75726C;
	padding: 5px 0;
}

#p1{
	margin-bottom: 10px;
}


/* play with lyft */
/*-- TABLERO AL FINAL DE ARCHIVO CSS --*/

.playdrive{
	width: 100%;
	height: 890px;
	background: #00B2A9;
	position: relative;
	text-align: center;
	clear: inherit;
}

.titleplay{
	width: 100%;
	height: 110px;
	/*text-align: center;*/
	font-size: 60px;
	font-weight: bold;
	color: #75726C;
	background: #EDE9E2;
	box-sizing: border-box;
	padding-top: 25px;
	position: absolute;
	top: 80px;
}

/*interfaz*/
.contenedor{
	width: 100%;
	height: 650px;
	box-sizing: border-box;
	position: absolute;
	bottom: 170px;
	left: 0;
}

.initplay{
	width: 70%;
	height: 250px;
	background: #EDE9E2;
	position: absolute;
	top: 260px;
	left: 190px;
}

/*input*/
.posicion{
	width: 320px;
	height: 25px;
	margin-top: 60px;
	padding-left: 5px;
	box-shadow: 0 1px 0 0 #75726C;
	background: #EDE9E2;
}

#posicion-x{
	margin-right: 35px;
}

.fa.fa-car{
	color: #75726C;
	font-size: 30px;
}

/*botón*/
.startplay{
	width: 93%;
	height: 56px;
	margin-top: 40px;
	background: #00B2A9;
	color: white;
	font-size: 15px;
	border-radius: 15px;
}

/*ultima caja*/
.prefooter{
	width: 100%;
	height: 170px;
	background: #75726C;
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
}

.caja{
	width: 50%;
	padding: 30px 90px;
	box-sizing: border-box;
	float: left;
	text-align: left;
}

.titlebox{
	font-style: normal;
	font-size: 22px;
	margin-bottom: 5px;
}

#titlebox-dos{
	font-size: 35px;
}

.cont{
	margin-bottom: 5px;
}

.milist{
	list-style-type: none;
}

#mi-list-uno{
	position: absolute;
	bottom: 10px;
}

#mi-list-dos{
	margin-top: 28px;
	position: absolute;
	bottom: 10px;
}

/* footer */

#footer{
	width: 100%;
	height: 50px;
	background: #656564;
	color: white;
}

.footerbox{
	width: 50%;
	height: 34px;
	float: left;
	box-sizing: border-box;
	padding: 0 90px;
}

#box-mr, #box-morelinks{
	margin-top: 16px;
}

.fa.fa-facebook-square{
	font-size: 18px;
}

.link{
	text-decoration: none;
	color: #4CE3F5;
	font-family: 'Roboto Mono', monospace;
}

/*--- TABLERO ---*/

.tablero{
	width: 70%;
	height: 330px;
	overflow: auto;
	position: absolute;
	top: 220px;
	left: 190px;
	box-sizing: content-box;
}

/*estilos tablero*/
#table-car{
	border: 15px solid whitesmoke;
}

.anchoCasilla{
	width: 100%;
	height: 55px;
	border: black;
}

.altoCasilla{
	width: 10%;
	height: 40px;
	float: left;
	margin-top: 5px;
	box-sizing: border-box;
	background-color: #00B2A9;
	color: #00B2A9;
	padding: 10px;
	border: 5px #900C3F solid;
}

/*para borrar todo*/
.nothing{
	display: none;
}