/*
Colors: 
#E54E79; nav
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

*{
	font-family: ‘Raleway’, sans-serif;
	margin: 0;
	padding: 0;
}

/* navbar */

.navbar{
	background: #E54E79;
	width: 100%;
	height: 83px;
	padding-left: 200px;
	padding-right: 100px;
	box-sizing: border-box;
	overflow: auto;
	position: fixed;
	z-index: 2;
}

.logo{
	background: url("../img/logo-white.png");
	background-size: cover;
	width: 70px;
	height: 50px;
	margin: 16px;
	float: left;
}

.menu{
	box-sizing: content-box;
	width: 110px;
	margin-top: 30px;
	color: white;
	float: right;
}


/* header */

/*imagen header*/
.imgdrive{
    background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*div formulario*/
.formreg{
	width: 500px;
	height: 398px;
	padding: 60px 40px;
	box-sizing: border-box;
	background: #EDE9E2;
	position: absolute;
	top: 200px;
	right: 0;
	z-index: 1;
}

/* títulos */
.title{
	font-size: 30px;
	font-weight: bold;
	color: #00B2A9;
	margin-bottom: 14px;
}

.subtitle{
	font-size: 15px;
	color: #75726C;
	margin-bottom: 14px;
}

/*input*/
.cellnumber{
	width: 90%;
	height: 25px;
	padding-left: 5px;
	background: #EDE9E2;
	box-shadow: 0 1px 0 0 #75726C;
	margin-bottom: 17px;
}

/*boton*/
.becomedriver{
	width: 210px;
	height: 45px;
	background: #E56385;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	margin-bottom: 17px;
}

.imgdrive .formreg .parraf{
	color: #75726C;
	padding: 5px 0;
}

#p1{
	margin-bottom: 10px;
}


/* play with lyft */
.playdrive{
	width: 100%;
	height: 500px;
	background: #00B2A9;
	position: relative;
}

.titleplay{
	width: 100%;
	height: 110px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #75726C;
	background: #EDE9E2;
	box-sizing: border-box;
	padding-top: 25px;
	position: absolute;
	top: 80px;
}

/**/