/*
Colors: 
#E54E79; nav
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

*{
	font-family: ‘Raleway’, sans-serif;
	margin: 0;
	padding: 0;
}

/* navbar */

.navbar{
	background: #E54E79;
	width: 100%;
	height: 83px;
	padding-left: 200px;
	padding-right: 100px;
	box-sizing: border-box;
	overflow: auto;
	position: fixed;
}

.logo{
	background: url("../img/logo-white.png");
	background-size: cover;
	width: 70px;
	height: 50px;
	margin: 16px;
	float: left;
}

.menu{
	box-sizing: content-box;
	width: 110px;
	margin-top: 30px;
	color: white;
	float: right;
}


/* header */

.imgdrive{
    /* The image used */
    background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");

    /* Set a specific height */
    height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



	/*background: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
	box-sizing: border-box;*/
}



.formreg{
	width: 500px;
	height: 398px;
	background: red;
	position: absolute;
	top: 200px;
	right: 0;
	z-index: 1;
}